@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(138, 43, 226, 0.5);
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 0 2px rgba(138, 43, 226, 0.5);
}
